@model IEnumerable<Don_PlcDashboard_and_Reports.Models.Defect>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col-lg-4">
        <label for="PlcModelID" class="control-label"></label>
        <select id="PlcModelID" name="PlcModelID" class="form-control" asp-items="ViewBag.Utilaje"></select>
    </div>
    <div class="form-group">
        <label for="Data From" class="control-label"></label>
        <input type="date" name="dataFrom" value="@ViewBag.dataFrom" />
    </div>
    <div class="form-group">
        <label for="Data To" class="control-label"></label>
        <input type="date" name="dataTo" value="@ViewBag.dataTo" />
    </div>
    <div class="form-group">
        <input type="submit" value="Afiseaza" name="btnAfiseaza" class="btn btn-primary" />
        <input type="submit" value="Extrage Date In Excel" name="btnExtrageExcel" class="btn btn-primary" />
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
    <hr />
    <a asp-action="AddDataromCsvFile">Incarca date din fisier</a>
</p>
<table id="tagTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlcModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimpStartDefect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimpStopDefect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntervalStationare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivStationare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefectFinalizat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlcModel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimpStartDefect)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimpStopDefect)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntervalStationare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotivStationare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefectFinalizat)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DefectID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DefectID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DefectID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Scripturi *@
@section scripts {
    @*<script src="~/js/site.js"></script>*@
    @*Resetare automata continut pagina pentru a nu intra in standby*@
    @*<script type="text/javascript">
        $(document).ready(function () {
            $('#tagTable').DataTable({
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: ['copy', 'csv', 'excel']
                }
            });
        });
    </script>*@
}
